@import "tailwindcss";

html {
  scrollbar-gutter: stable;
}

html,
body {
  background-color: #111111;
}

.group:hover svg {
  color: var(--hover-color) !important;
}

.group:hover .dotnet-glyph svg {
  color: #ffffff !important;
}